.footer_container {
  display: flex;
  background-color: bisque;
}
.footer_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.footer_center {
  flex: 1;
  padding: 20px;
}
.footer_right {
  flex: 1;
  padding: 20px;
}
.footer_desc {
  margin: 20px 0px;
}
.footer_socialcontainer {
  display: flex;
}
.footer_socialIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.title {
  margin-bottom: 30px;
}
.footer_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer_listItem {
  width: 50%;
}
.contact_footer {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
